@import "tailwindcss";
@import "tailwindcss-animated";
@theme {
  --color-brand-1: oklch(47.29% 0.175 25.84);

  --font-brand-1: "Noto Sans";

  --animate-neon: neon 3s ease;
  --animate-neon-infinite: neon 3s ease infinite;
  --animate-slide_in: slideIn 1s ease;
  --animate-from-center: fromCenter 1s ease;
  --animate-rotate: rotateFrom 1s ease;
  --animate-bottle: fillBottle 3s ease both;
  --animate-bottle-right: fillBottleLeft 3s ease both;

  --animate-zoom: zoom 5s ease;
}

/* NOTO SANS */
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans.woff2") format("woff2");
  font-weight: 400;
}

@keyframes neon {
  0%,
  19.9%,
  22%,
  62.9%,
  64%,
  65.9%,
  70%,
  100% {
    opacity: 1;
    text-shadow: 0 0 5px var(--color-brand-1), 0 0 10px var(--color-brand-1),
      0 0 20px var(--color-brand-1), 0 0 40px var(--color-brand-1),
      0 0 60px var(--color-brand-1), 0 0 80px var(--color-brand-1),
      0 0 100px var(--color-brand-1);
  }
  20%,
  21%,
  63%,
  64.9%,
  66% {
    opacity: 0.6;
    text-shadow: 0 0 2px var(--color-brand-1), 0 0 5px var(--color-brand-1),
      0 0 10px var(--color-brand-1), 0 0 15px var(--color-brand-1);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(
      -100vh
    ); /* Comienza desde arriba, fuera de la pantalla */
  }
  60% {
    opacity: 1;
    transform: translateY(20px); /* Llega un poco más abajo */
  }
  80% {
    transform: translateY(-10px); /* Rebote hacia arriba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Posición final */
  }
}

@keyframes fromCenter {
  0% {
    scale: 0.8;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes rotateFrom {
  0% {
    transform: translateX(40px);
    rotate: 360deg;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fillBottle {
  0% {
    transform: rotate(-45deg);
    opacity: 0;
  }

  50% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg);
    opacity: 0;
  }
}
@keyframes fillBottleLeft {
  0% {
    transform: rotate(45deg);
    opacity: 0;
  }

  50% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(45deg);
    opacity: 0;
  }
}
/* ANIMATION ZOOM */
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
button {
  cursor: pointer;
}

li {
  width: 100%;
}

body {
  color: #fff;
}
